@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import 'tailwindcss';

@theme {
  --color-primary: #4A6CF7;
  --color-black: #121723;
  --color-dark: #1D2430,
}

@layer base {
  :root {
    color: oklab(0 0 0 / 88);
  }

  body {
    background-color: white;
    font-family: "Inter", sans-serif;
  }

  button,
  [role='button'] {
    cursor: pointer;
  }
  button:disabled,
  [role='button']:disabled {
    cursor: default;
  }
}

@layer components {
  .btn {
    cursor: pointer;
    user-select: none;

    &:hover {
      opacity: 80%;
    }

    &:active {
      opacity: 70%;
    }
  }
  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }
}

@utility container-* {
  margin-inline: auto;
  max-width: calc(1px * --value(integer));
}

.rotating {
  animation: rotating 2s linear infinite;
}

@custom-variant sm (@media (min-width 40rem));
@custom-variant md (@media (min-width 48rem));

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-[linear-gradient(40deg,#8676FF_0%,#6C4AFF_100%)];
}

/* ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 2px rgba(144, 147, 153, 0.3);
  background-color: #DBDBDB;
} */

/* ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
} */

::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #fff;
}
